<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description were here">
    <meta name="keywords" content="key">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Home Page</title>

    <link rel="stylesheet" href="/css/materialize.min.css">

</head>

<body>

    <nav class="light-blue darken-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Mini Store</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/descProduct">Description</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>